ATLAS_DB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database_name>
FRONTEND_URL=http://localhost:5173
JWT_SECRET=your_long_random_secret_key
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com